# Copie este archivo a .env y complete los valores
POSTGRES_DB=auxiliar_contable
POSTGRES_USER=auxiliar
POSTGRES_PASSWORD=Administr@dor2026
# Genere uno con: openssl rand -base64 48
JWT_SECRET=5jX/RQuXJRzu3VP/VkcJhyBMVVdMjLMMaLM/rT9Dss8EXS9+U/RnsXHoaMAaWCBw
